<div class="nav">
    <div class="small-nav"></div>

    <div class="big-nav hidden">
        <div class="nav-item nav-level1">
            <img src="/static/images/nav/level1-1.png" class="nav-img img-level1" alt="">
            <span class="nav-text text-level1">学校教育平台</span>
        </div>

        <div class="nav-wrapper nav-wrapper-level2">
            <div class="nav-item nav-level2">
                <img src="/static/images/nav/level2-1.png" class="nav-img img-level2" alt="">
                <span class="nav-text text-level2">全国概览</span>
            </div>

            <div class="nav-wrapper nav-wrapper-level3">
                <a href="/" class="nav-item nav-level3">
                    <img src="/static/images/nav/level3-1.png" class="nav-img img-level3" alt="">
                    <span class="nav-text text-level3">高校概览</span>
                </a>
                <a href="/last3YearsData" class="nav-item nav-level3">
                    <img src="/static/images/nav/level3-1.png" class="nav-img img-level3" alt="">
                    <span class="nav-text text-level3">近三年数据</span>
                </a>
            </div>
        </div>

        <div class="nav-wrapper nav-wrapper-level2">
            <div class="nav-item nav-level2">
                <img src="/static/images/nav/level2-1.png" class="nav-img img-level2" alt="">
                <span class="nav-text text-level2">高校详情</span>
            </div>

            <div class="nav-wrapper nav-wrapper-level3">
                <a href="/basis" class="nav-item nav-level3">
                    <img src="/static/images/nav/level3-1.png" class="nav-img img-level3" alt="">
                    <span class="nav-text text-level3">基础信息</span>
                </a>
                <a href="/majors" class="nav-item nav-level3">
                    <img src="/static/images/nav/level3-1.png" class="nav-img img-level3" alt="">
                    <span class="nav-text text-level3">专业情况说明</span>
                </a>
                <a href="/enrollment" class="nav-item nav-level3">
                    <img src="/static/images/nav/level3-1.png" class="nav-img img-level3" alt="">
                    <span class="nav-text text-level3">专业录取情况</span>
                </a>
                <a href="/graduateEmployment" class="nav-item nav-level3">
                    <img src="/static/images/nav/level3-1.png" class="nav-img img-level3" alt="">
                    <span class="nav-text text-level3">专业毕业就业情况</span>
                </a>
                <a href="schoolAdmins" class="nav-item nav-level3">
                    <img src="/static/images/nav/level3-1.png" class="nav-img img-level3" alt="">
                    <span class="nav-text text-level3">学校管理人员情况</span>
                </a>
                <a href="studentsDev" class="nav-item nav-level3">
                    <img src="/static/images/nav/level3-1.png" class="nav-img img-level3" alt="">
                    <span class="nav-text text-level3">学生发展</span>
                </a>
                <a href="/courses" class="nav-item nav-level3">
                    <img src="/static/images/nav/level3-1.png" class="nav-img img-level3" alt="">
                    <span class="nav-text text-level3">课程情况</span>
                </a>
                <a href="studentsNum" class="nav-item nav-level3">
                    <img src="/static/images/nav/level3-1.png" class="nav-img img-level3" alt="">
                    <span class="nav-text text-level3">学生数量情况</span>
                </a>
                <a href="expenditure" class="nav-item nav-level3">
                    <img src="/static/images/nav/level3-1.png" class="nav-img img-level3" alt="">
                    <span class="nav-text text-level3">经费情况</span>
                </a>
            </div>
        </div>
    </div>
</div>